.main-div{
    display: flex;
    align-items: center;
   
    margin: 2% 0;
    padding: 2% 0;
    background: #f7fff2;;
   
    
}

.col-3{
    width: 20%;
}
.col-9{
    width:80%;
    margin-right: 2%;
}



.footer-ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    align-items: center;
}
.logo-image{
 width: 65%;;
}

.custom-button{
    border-radius: 35px;
    padding: 15px 40px;
    background: #0F6534;
    font-size: 1em;
    color: aliceblue;
    font-family: sans-serif;
    border: 3px solid black;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s;
}

li{
    font-size: 1.2em;
    font-family: sans-serif;
    
}
li a {
    text-decoration: none;
    color: #5B5B5B;
    font-weight: bold;
    transition: 0.2s;
  }
  .custom-button:hover {
    transform: scale(0.95); 
    padding: 20px 45px;
}
li a:hover {
    transform: scale(0.95);
    color: #0F6534;
    font-size: 1.4em;
    text-decoration: underline;
    
}

.custom-button-one{
    border-radius: 35px;
    padding: 15px 40px;
    background: #ffffff;
    font-size: 1em;
    color: #0F6534;
    font-family: sans-serif;
    border: 3px solid #0F6534;
    font-weight: bolder;
    transition: 0.2s;
    cursor: pointer;
}
.custom-button-one:hover {
    transform: scale(0.95); 
    padding: 20px 45px;
}
.contact {
    line-height: 0.5;
    color: #5B5B5B;
    font-family: sans-serif;
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .footer-ul {
        list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 4%;
    align-items: center;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 600px) {
    .footer-ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-left: 0%;
        align-items: center;
    }
  }
  
