.main-div-header {
  display: flex;
  align-items: center;
  padding-top: 2%;
}

.col-3 {
  width: 25%;
}
.col-9 {
  width: 75%;
  margin-right: 2%;
}

.header-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-right: 0%;
  margin-left: 2%;
  padding-left: 27%;
}
.logo-image {
  width: 65%;
}

.custom-button {
  border-radius: 35px;
  padding: 15px 40px;
  background: #0f6534;
  font-size: 1em;
  color: aliceblue;
  font-family: sans-serif;
  border: 2px solid black;
}

li {
  font-size: 1.2em;
  font-family: sans-serif;
}
li a {
  text-decoration: none;
  color: #5b5b5b;
  font-weight: bold;
}
.custom-button:hover {
  transform: scale(0.95);
  padding: 20px 45px;
}
li a:hover {
  transform: scale(0.95);
  color: #0f6534;
  font-size: 1.4 em;
  text-decoration: underline;
}

.menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25 rem;
}
@media only screen and (max-width: 768px)  {
   
    .menu {
      display: flex;
      
    }
  
    .header-ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
    }
    .header-ul.open {
      display: flex;
      position: absolute;
      top: 0;
      left: 0px;
      flex-direction: row;
      width: 70%;
  }
    .custom-button{
      display: none;
    }
    .header-ul-li{
      
        font-size: 1em;
        font-family: sans-serif;
        /* display: flex; */
        text-align: center;
        width: 100%;
        padding: 2%;
        justify-content: center;
        padding-right: 12%;
        

  
    }
    .menu-button{
      position: relative;
    }
  
    
  
  
    .col-9 {
      width: 75%;
      margin-right: 2%;
      text-align: -webkit-right;
      background: none;
    }
    .menu-button {
      display: flex;
      background: none;
      border: none;
      justify-content: flex-end;
  }
  .logo-image {
    width: 65%;
  }
    
  }

@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .header-ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: -12%;
    margin-left: 2%;
    padding-left: 8%;
    width: 80%;
  }
}
@media only screen and (max-width: 430px){
  img.menu-button-img {
    width: 80%;
}


.header-ul-li {
  font-size: 1em;
  font-family: sans-serif;
  /* display: flex; */
  text-align: center;
  width: 100%;
  padding: 0%;
  justify-content: center;
  padding-right: 5%;
  padding-top: 3%;
}}
