.above-content-review{
    background-image: url(../assets/review-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.above-content-review h1{
    margin-bottom: 2%;
    padding-top: 5%;
    font-size: 3.6em;
    font-family: sans-serif;


}
.happy-class-button{
    padding-bottom: 9%;
   
  
}
.btn-happy{
    border-radius: 35px;
    padding: 15px 40px;
    background: #0f6534;
    font-size: 1em;
    color: aliceblue;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.review-card-content{
    background: #f0ecec;
    box-shadow: 0px 16px 40px -6px rgb(190, 218, 202);
    border-radius: 77px;
    width: 30%;
    margin-bottom: 2%;
}
.review-cards-main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    gap: 2%;
}
.card-div-main{
    margin: 5%;

}
.review-card-content p{
    font-family: sans-serif;
    font-size: 1.6em;
    text-align: start;
    padding-left: 11%;


}
.review-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-left: 11%;
    margin-bottom: 14%;
}